:root {
  --primaryColor: #339657;
  --cardColor: #ffffff;
  --sectionContainer: #efefef;
  --subButtonColor: #000000;
  --sectionSecondaryColor: #1f1f1f;
  --textpara: #656565;
  --headerColor: #000000;
}


